@model DAS.Models.UserViewModel.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(d => d.Id)
            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Name)
            @Html.TextBoxFor(d => d.Name, new { @class = "form-control form-control-lg" })
            @Html.ValidationMessage("Name", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(d => d.Mail)
            @Html.TextBoxFor(d => d.Mail, new { @class = "form-control form-control-lg" })
            @Html.ValidationMessage("Mail", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(d => d.Password)
            @Html.PasswordFor(d => d.Password, new { @class = "form-control form-control-lg" })
            @Html.ValidationMessage("Password", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(d => d.ConfirmPassWord)
            @Html.PasswordFor(d => d.ConfirmPassWord, new { @class = "form-control form-control-lg" })
            @Html.ValidationMessage("ConfirmPassWord", new { @class = "text-danger" })
            <br />

            <div>
                <input type="button" onclick="document.location.href='@Url.Content("~/User/ShowUser")'" class="btn btn-danger btn-lg" value="Cancenar" />
                <input type="submit" class="btn btn-success  btn-lg" value="Guardar" />
            </div>
        }
    </div>
</div>